@import './sidebar.scss';
@import './markdown.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.padding-10 {
  padding: 10px;
}
.padding-vertical-10 {
  padding: 10px 0;
}
.table-header-bg {
  background-color: #f3f3f3 !important;
}
.show-overflow-ellipsis {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.success-row {
  background-color: #f0f9eb !important;
}
.danger-row {
  background-color: #fef0f0 !important;
}
.section-option {
  padding: 30px 0;
  border-top: 1px dashed #DCDCDC;
}
.cm-button__text {
  padding: 12px 0;
  color: #409EFF;
  cursor: pointer;
}
